{% extends "base.html" %}
{% block title %}List of SniffShow events{% endblock title %}
{% block list %}class="active"{% endblock %}

{% block content %}
    {% if events_to_happen %}
    <table>
        <tr>
    <th>Event name:</th>
    <th>Event starts:</th>
    <th>Applications due:</th>
</tr>
    {% for event in events_to_happen %}
<tr>
    <td><a href="{% url 'event:detail' event.id  %}">{{ event.event_name }}</a></td>
    <td>{{ event.event_start_date }}</td>
    {% if event.applications_closed %}
    <td>{{ event.applications_deadline }}</td>
    {% else %}
    <td>Closed</td>
    {% endif %}
    <td></td>
</tr>
    {% endfor %}
    </table>
    {% else %}
    <p>No events added for now! Check again soon!</p>
    {% endif %}

{% endblock content %}