* {
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
}

li {
    float: left;
}

li a {
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

button.logout {
  background-color: red;
  color: white;
  border: none;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
}

li.active {
    background-color: green;
}

.detail-grid {
  display: grid;
  grid-template-areas:
    'desc desc sheet'
    'desc desc sheet'
    'desc desc sheet'
    'desc desc sheet';
  gap: 10px;
  padding: 10px;
}

.namedesc {
    grid-area: desc;
}

.factsheet {
    grid-area: sheet;
}

table.detail {
    font-size: 112%;
    height: 100%;
    padding: 10px 0px;
}

div.factsheet tr:nth-child(even) {
    background-color: #CECFD2;
}

div.factsheet tr:nth-child(odd) {
    background-color: #D2D1CE;
}

.profile-grid {
  display: grid;
  grid-template-areas:
    'acc acc dog dog'
    'acc acc dog dog'
    'acc acc dog dog';
  gap: 10px;
  padding: 10px;
}

.dog-prof {
    grid-area: dog;
}
.user-prof {
    grid-area: acc;
}